html{
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    height: 100vh;
    /* display: flex;
    flex-direction: column; */
}

/* Header Section */
.header1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
    padding-top: 10px;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.right-links{
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* Encompasses all sections */
.content{
    display: flex;
    flex-direction: column;
}



/* Top Section */
.section-top{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 100px;
    background-color: #1F2937;
    padding: 30px;
}

.section-top-left{
    display: flex;
    flex-direction: column;
    width: 30%;
    
}
.main-txt{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.secondary-txt{
    font-size: 18px;
    color: #E5E7EB;
    margin: 5px 0 0 0;
    padding: 0;
}

.shiba-img{
    width: 376px;
    height: 251px;
    border-radius: 10px;
}

.button1{
    align-self: flex-start;
    padding: 10px 20px;
    background-color: #3882F6;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
}

/* Random Information Section */
.random-info-header{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
}

.info-container{
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0 100px 0;
}


.random-info-imgs{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #3882F6;
}

figcaption{
    text-align: center;
}

.info.order{
    order: 1;
}

.info.four{
    color: red;
}



/* Quote Section */
.quote{
    display: flex;
    flex-direction: column;
    padding: 80px 20%;
    background-color: #e5e7eb;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-author{
    text-align: end;
    font-size: 30px;
    font-weight: 600;
}
/* Sign-Up Section */




/* Footer Section */
footer{
    background-color: #1F2937;
    bottom: 0;
    width: 100%;
    height: 70px;
}